@import "tailwindcss";

body {
	font-family: "League Spartan", sans-serif;
}

@theme {
	--color-primary-900: hsl(300, 43%, 22%);
	--color-primary-700: hsl(303, 10%, 53%);
	--color-primary-300: hsl(333, 80%, 67%);
	--color-primary-100: hsl(300, 24%, 96%);
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.main-content {
	position: relative;
}

.main-content::before {
	content: "";
	background: url("../images/bg-pattern-top-mobile.svg") no-repeat;
	width: 374px;
	height: 232px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.main-content::after {
	content: "";
	background: url("../images/bg-pattern-bottom-mobile.svg") no-repeat;
	width: 503px;
	height: 375px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

@media (min-width: 640px) {
	.main-content::before {
		background: url("../images/bg-pattern-top-desktop.svg") no-repeat;
		height: 362px;
		width: 584px;
	}

	.main-content::after {
		background: url("../images/bg-pattern-bottom-desktop.svg") no-repeat;
		width: 1085px;
		height: 673px;
	}
}
